
<br>

<p class="text-center" style="font-size: 18px;">
    This hangout is organised weekly
    <br>
    for people taking the HCI course on Coursera.
</p>

<br>

<section class="col-md-4 col-md-offset-2 col-sm-6 col-sm-offset-3">

    <div class="clock-container">
        <h3>17:00 - 18:00</h3>
        <p>
            Thursday, October 27th, 2013
            <br>GMT -4
            <br>Toronto
        </p>
    </div>
    <!--<button disabled-->
            <!--type="button"-->
            <!--class="btn btn-primary"-->
            <!--style="width: 150px;margin: 0 auto;display: block;">-->
        <!--<strong>Join Here</strong>-->
        <!--<br>-->
        <!--<em>in 2 days</em>-->
    <!--</button>-->

    <br>

    <div
            style="margin: 20px 0 0 0;"
            ng-class="{'hidden': !response_message_toronto}"
            class="alert alert-info">
        <a href="#" class="alert-link">
            {{ response_message_toronto }}
        </a>
    </div>

    <div
            style="margin: 20px 0 0 0;"
            ng-class="{'hidden': !full_message_toronto}"
            class="alert alert-info">
        <a href="#" class="alert-link">
            {{ full_message_toronto }}
        </a>
    </div>

    <section ng-hide="response_message_toronto || full_message_toronto">
        <p style="font-size: 18px;" class="text-center">
            Can You Make It?
        </p>
        <div
                style="width: 150px;margin: 0 auto;display: block;">
            <button
                    style="margin-right: 50px;"
                    class="btn"
                    ng-class="{'btn-success': isAttendingToronto == true, 'btn-default': !isAttendingToronto}"
                    ng-click="toggleBookingToronto('yes');">
                Yes
            </button>
            <button ng-click="toggleBookingToronto('no');"
                    ng-class="{'btn-danger': isAttendingToronto == false, 'btn-default': isAttendingToronto == true || isAttendingToronto == undefined}"
                    class="btn">
                No
            </button>
        </div>

        <section ng-switch="isAttendingToronto">
            <form
                    name="attendForm"
                    class="form-signin"
                    ng-switch-when="true"
                    ng-hide="response_message_toronto">
                <input
                        required
                        ng-model="attendee_toronto.name"
                        type="text"
                        name="name"
                        class="form-control top"
                        placeholder="Name">
                <input
                        required
                        ng-model="attendee_toronto.email"
                        type="text"
                        name="email"
                        class="form-control middle"
                        placeholder="Email">
                <input
                        ng-model="attendee_toronto.linkedin"
                        type="text"
                        name="text"
                        class="form-control bottom"
                        placeholder="Link to your LinkedIn (optional)">
                <button
                        class="btn btn-lg btn-primary btn-block"
                        ng-click="saveAttendeeToronto();">Attend</button>
                <!--ng-disabled="!canSave('attendForm')"-->
            </form>
            <form class="form-signin" ng-switch-when="false">
                <p style="font-size: 15px;" class="text-center">
                    That's a shame.
                    Maybe next week.
                    <br>
                    Good luck with assignment 3.
                </p>
            </form>

        </section>
    </section>

    <br>

    <p style="font-size: 18px;" class="text-center">
        Participants (5 maximum)
    </p>
    <ul class="list-response col-md-8 col-md-offset-2">
        <li ng-repeat="attendee in attendees_toronto">
            <strong>{{ attendee.name }}</strong>
            <a target="_blank" ng-href="{{ attendee.linkedin }}" class="btn btn-xs btn-primary pull-right">
                LinkedIn
            </a>
        </li>
    </ul>

    <br>

    <p style="font-size: 18px;" class="text-center col-md-8 col-md-offset-2">
        Hangout Topics
    </p>
    <ul class="list-response col-md-8 col-md-offset-2">
        <li>
            <strong>Your design briefs</strong>
        </li>
        <li>
            <strong>Wizard-of-Oz prototyping</strong>
        </li>
        <li>
            <strong>Assignment 3</strong>
        </li>
    </ul>

    <hr align="center" width="75%" style="border-top: 1px solid #DDD;">

</section>


<section class="col-md-4 col-md-offset-0 col-sm-6 col-sm-offset-3">

    <div class="clock-container">
        <h3>17:00 - 18:00</h3>
        <p>
            Thursday, October 27th, 2013
            <br>GMT +0
            <br>London
        </p>
    </div>
    <!--<button disabled-->
    <!--type="button"-->
    <!--class="btn btn-primary"-->
    <!--style="width: 150px;margin: 0 auto;display: block;">-->
    <!--<strong>Join Here</strong>-->
    <!--<br>-->
    <!--<em>in 2 days</em>-->
    <!--</button>-->

    <br>

    <div
            style="margin: 20px 0 0 0;"
            ng-class="{'hidden': !response_message_london}"
            class="alert alert-info">
        <a href="#" class="alert-link">
            {{ response_message_london }}
        </a>
    </div>

    <div
            style="margin: 20px 0 0 0;"
            ng-class="{'hidden': !full_message_london}"
            class="alert alert-info">
        <a href="#" class="alert-link">
            {{ full_message_london }}
        </a>
    </div>

    <section ng-hide="response_message_london || full_message_london">
        <p style="font-size: 18px;" class="text-center">
            Can You Make It?
        </p>
        <div
                style="width: 150px;margin: 0 auto;display: block;">
            <button
                    style="margin-right: 50px;"
                    class="btn"
                    ng-class="{'btn-success': isAttendingLondon == true, 'btn-default': !isAttendingLondon}"
                    ng-click="toggleBookingLondon('yes');">
                Yes
            </button>
            <button ng-click="toggleBookingLondon('no');"
                    ng-class="{'btn-danger': isAttendingLondon == false, 'btn-default': isAttendingLondon == true || isAttendingLondon == undefined}"
                    class="btn">
                No
            </button>
        </div>

        <section ng-switch="isAttendingLondon">
            <form
                    name="attendForm"
                    class="form-signin"
                    ng-switch-when="true"
                    ng-hide="response_message_london">
                <input
                        required
                        ng-model="attendee_london.name"
                        type="text"
                        name="name"
                        class="form-control top"
                        placeholder="Name">
                <input
                        required
                        ng-model="attendee_london.email"
                        type="text"
                        name="email"
                        class="form-control middle"
                        placeholder="Email">
                <input
                        ng-model="attendee_london.linkedin"
                        type="text"
                        name="text"
                        class="form-control bottom"
                        placeholder="Link to your LinkedIn (optional)">
                <button
                        class="btn btn-lg btn-primary btn-block"
                        ng-click="saveAttendeeLondon();">Attend</button>
                <!--ng-disabled="!canSave('attendForm')"-->
            </form>
            <form class="form-signin" ng-switch-when="false">
                <p style="font-size: 15px;" class="text-center">
                    That's a shame.
                    Maybe next week.
                    <br>
                    Good luck with assignment 3.
                </p>
            </form>

        </section>
    </section>

    <br>

    <p style="font-size: 18px;" class="text-center">
        Participants (5 maximum)
    </p>
    <ul class="list-response col-md-8 col-md-offset-2">
        <li ng-repeat="attendee in attendees_london">
            <strong>{{ attendee.name }}</strong>
            <a target="_blank" ng-href="{{ attendee.linkedin }}" class="btn btn-xs btn-primary pull-right">
                LinkedIn
            </a>
        </li>
    </ul>

    <br>

    <p style="font-size: 18px;" class="text-center col-md-8 col-md-offset-2">
        Hangout Topics
    </p>
    <ul class="list-response col-md-8 col-md-offset-2">
        <li>
            <strong>Your design briefs</strong>
        </li>
        <li>
            <strong>Wizard-of-Oz prototyping</strong>
        </li>
        <li>
            <strong>Assignment 3</strong>
        </li>
    </ul>

    <hr align="center" width="75%" style="border-top: 1px solid #DDD;">

</section>
